<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/favicon.ico?v=1.1"><!--force browser to update favicon-->
    <script type="text/javascript" src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>fidget 2.0</title>
</head>

<nav class="nav-bar"> 
    <div class="link-buffer">
        <a href="/posts">see fidgets</a>
    </div>
    
    <div class="link-buffer">
        <a href="/posts/new">new fidget</a>
    </div>
    
    <div class="link-buffer">
        <a href="/">fidget home</a>
    </div>

</nav>

<div class="title-box">
    <h1>f i d g e t   2.0</h1>
    <h2>The side bar of the internet!</h2>
</div>