<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="favicon.ico?v=1.1"><!--force browser to update favicon-->
    <script type="text/javascript" src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>fidget 2.0</title>
</head>

<nav class="nav-bar"> 
    <!--TEST BUTTON FOR CLICKING-->
    <form action="#">
        <input type="submit" value="TEST" class="navbar-button" />
    </form>

    <form action="/posts">
        <input type="submit" value="All Fidgets" class="navbar-button" />
    </form>

    <form action="posts/new">
        <input type="submit" value="Add New Fidget" class="navbar-button" />
    </form>

    <form action="/">
        <input type="submit" value="Return to Fidget" class="navbar-button" />
    </form>
</nav>
<div class="title-box">
    <h1>f i d g e t   2.0</h1>
    <h2>The side bar of the internet!</h2>
</div>