<%- include('partials/header.ejs') %>
<title>Home Page</title>
</head>


<body>
    <h1>I'm using a partial to render this!!</h1>

    <p>Put some EJS in here, soon.</p>



    <% if (user) { %>
        <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
    <% } else { %>
        <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
    <% } %>



</body>


<%- include('partials/footer.ejs') %>