<%- include('partials/header.ejs') %>
<!--HOME PAGE / ABOUT-->

<br><br><br><br><br><br><br><br><br><br><br>
<body>

    <div class="about-fidget"> 
        <h3>- about fidget -</h3>
        <p id="about-blur">fidget is a place for fidgeters. <br>
            fidget a little, fidget a lot.
            <br>fidget away all you like!
            <br>abuse and harassment of any  
            <br>kind will <strong>not</strong> be tolerated. 
            <br>fidget on righteously! <em>-admin</em>
        </p>
    </div>
</body>

<br><br>
<%- include('partials/footer.ejs') %>