<%- include('partials/header.ejs') %>
<!--HOME PAGE / ABOUT-->

<br><br><br><br><br><br><br><br><br><br><br>
<body>

    <div class="about-fidget"> 
        <h3>- about fidget -</h3>
        <p id="about-blur">fidget is a place for fidgeters. <br>
            fidget a little, fidget a lot.
            <br>fidget away all you like!
            <br>abuse and harassment of any  
            <br>kind will <strong>not</strong> be tolerated. 
            <br>fidget on righteously! <em>-admin</em>
        </p>
        <br>

        <% if (user) { %>
            <h1> <a href="/logout" class="auth-link"> Logout as <%= user.name %> </a> </h1>
        <% } else { %>
            <h1> <a href="/auth/google" class="auth-link">Login with Google</a> </h1>
        <% } %>

    </div>

</body>
<img src="https://www.freeiconspng.com/uploads/high-resolution-fidget-spinner-black-image-17.png" width="50" alt="High Resolution Fidget Spinner Black Image" class="fidget-spinner" />
<br><br><br>
<%- include('partials/footer.ejs') %>