<%- include('partials/header.ejs') %>
<title>Welcome</title>
</head>


<body>
    THIS IS THE INITIAL SPLASH PAGE 
<ul>
    <li>    
        <a href="/posts">See all Posts</a>
    </li>
    <li>
        <a href="posts/new">Make a Post</a>
    </li>
</ul>
   
<h1>Welcome to Fidget 2.0!</h1>
<h2>The side bar of the internet!</h2>
<div id="nav">
<br><br><br><br>
<a href="/posts" id="asklog">Click here to view and create posts!</a>

</div>

</html>

<%- include('partials/footer.ejs') %>