<%- include('partials/header.ejs') %>
    <title>Welcome</title>
</head>


<body>
    <div class="about-fidget"> 
        <br><br><br><br>
        <h3>About Us</h3>
        <p>About Fidget Section Here</p>
    </div>
</body>


<%- include('partials/footer.ejs') %>