/* HEADER CARRIES CSS/JS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@800&family=Shizuru&display=swap');

/* FONT SETTINGS */
h1 { /* title font */
    color: navy;
    text-align: center;
    font-family: 'Khula', sans-serif;
    text-shadow: 1px 1px 25px darkblue; 

}
h2 { /* subtitle font */
    text-align: center;
    font-family: 'Shizuru', cursive;
    text-decoration: line-through;
    margin-top: -15px;
}
h3 {
    text-align: center;
    font-family: 'Shizuru', cursive;
}
h4 {
    font-family: 'Khula', sans-serif;

}
p {
    font-family: Arial, Helvetica, sans-serif;
}
body { /* shrink to 90% vw */
    margin-left: 5%;
    margin-right: 5%;
    min-width: 280px;
}
.postbox {
    color: darkblue;
}
.post-link {
    color: red;

}

/* UNRESOLVED RARE BUG: can't get master-nav to align at less than 350px */

/* HEADER/NAVBAR */
/* master-nav (greater navbar) always on top */
.master-nav { /* HEADER ALWAYS ON TOP */
    position: sticky; 
    position: fixed; 
    top: 0px;
    background-color: white;
    min-width: 280px;
    width: 80%;
    margin-right: 5%;
    margin-left: 5%;
}
/* HEADER HOVER 1vh from top of screen and bottom of HEADER */
.top-space, .bottom-space {
    height: 1vh;
    /* see header.ejs */
}


/* FIDGET POST STYLING */
/* contains all fidget elements */
.fidget-field {
    border: 1px solid aqua;
    border-radius: 20px;
    margin: 10%;
}
/* posts/index.ejs FIDGET ELEMENT */
.fidget-container {
    text-align: center;
    border: 1px solid aqua;
    border-radius: 20px;
    margin: 5%;
    align-items: center;
}
/* posts/new.ejs FIDGET ELEMENT */
.fidget-container-new {
    text-align: center;
    border: 1px solid aqua;
    border-radius: 20px;
}

/* TWO PANE NEW.EJS LAYOUT */
.row {
    box-sizing: border-box;

  }
.column-60 {
    width: 60%;
    float: left;
}
.column-30 {
    width: 40%;
    float: right;
}




/* FORM BOXES */
* {
    box-sizing: border-box;
}
.post-form-container {
    background-color: aqua;
    box-shadow:0 0 15px 4px rgba(0,0,0,1);
    width: 90%;
    padding: 20px;
    
}
.post-field {
    padding:10px;
    border-radius:10px;
}
input {
    width: 90%;
    padding:10px;
    margin-bottom: 5px;
    border-radius:10px;
}
.submit-button-container {
    background-color: black;
    padding: 20px;
}
textarea {
    height: 50%;
    width: 90%;
    padding:10px;
    border-radius:10px;
}

/* NAVBAR CONTAINER */
.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}

/* NAV "BUTTONS" */
.link-buffer {
    background-color: aqua;
    color: darkblue;
    padding: 1em;
    width: 30%;
    text-align: center;
    border: 0;
    border-radius: 15px;
}

/* Styling the Link in the "button" */
.link-buffer a:active {
    color: white;
}
.link-buffer a {
    color: darkblue;
    text-decoration: none;
    font-family: 'Khula', sans-serif;
    display: inline-block;     
    position: relative;    
    z-index: 1;
    padding-left: 3vw; /* had to stretch clickable space for nav left, almost matches button */
    padding-right: 3vw; /* had to stretch clickable space for nav right, almost matches button */
    padding-top: 2vw; /* had to shrink clickable space for nav */
    padding-bottom: 2vw; /* had to shrink clickable space for nav */
    margin: -20vh; /* shrink buttons vertically, but they grow on extremely small ports... */
}
.link-buffer a:hover {
    text-decoration: underline;
}

/* Main title box */
.title-box { /* only includes fidget title and subtitle */
    text-align: center;
    border: 1px solid aqua;
    border-radius: 20px;
}




/* always at bottom */
footer {
    position: fixed;
    bottom: 0;
    width: 90%; /* whole app only takes up 90% of screen, 5% off each side */
    text-align: center;
    color: darkblue;
    background: linear-gradient(135deg, white 20%, cyan, white 80%);

}

/* ABOUT FIDGET */
.about-fidget {
    text-align: center;
}

.about-fidget, p {
    text-align: center;
}
/* CUSTOM SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 20px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px darkblue; 
    border-radius: 10px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: blue; 
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkblue; 
}