/* HEADER CARRIES CSS/JS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@800&family=Shizuru&display=swap');

/* FONT SETTINGS */
h1 { /* title font */
    color: navy;
    text-align: center;
    font-family: 'Khula', sans-serif;
    text-shadow: 1px 1px 25px darkblue; 

}
h2 { /* subtitle font */
    text-align: center;
    font-family: 'Shizuru', cursive;
    text-decoration: line-through;
    margin-top: -15px;
}
h3 {
    text-align: center;
    font-family: 'Shizuru', cursive;
    font-size: xx-large;
}
h4 {
    font-family: 'Khula', sans-serif;
    margin-bottom: 0vh;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
body { /* shrink to 90% vw */
    margin-left: 5%;
    margin-right: 5%;
    min-width: 280px;
    
    /* polka dots */
    background-image: radial-gradient(lightblue 10%, transparent 47%),
    radial-gradient(aqua 10%, transparent 37%);
    background-color: aliceblue;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    /* Thanks: https://dev.to/clairecodes/how-to-create-a-polka-dot-background-with-css-23m0 */
}
/* fuzz effect on the about section text */
#about-blur {
    color: darkblue;
    text-shadow: 0px 1px 3px darkblue; 
    font-size: x-large;
    min-width:325px;
}


/* HEADER/NAVBAR */
/* master-nav (greater navbar) always on top */
.master-nav { /* HEADER ALWAYS ON TOP */
    position: sticky; 
    position: fixed; 
    top: 0px;
    min-width: 280px;
    width: 80%;
    margin-right: 5%;
    margin-left: 5%;
}
/* HEADER HOVER 1vh from top of screen and bottom of HEADER */
.top-space, .bottom-space {
    height: 1vh;
    /* see header.ejs */
}


/* ALL FIDGET STYLING */
/* contains all fidget elements on posts/index.ejs */
.fidget-field {
    border: 1px solid aqua;
    border-radius: 20px;
    margin: 10%;
    background-color: aqua;
    box-shadow: 0px 0px 2px darkblue; 
}

/* posts/index.ejs FIDGET ELEMENT */
.fidget-container {
    text-align: center;
    border: 1px solid darkblue;
    border-radius: 20px;
    margin: 5%;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 0px 0px 2px darkblue; 
}
.post-field {
    padding:10px;
    border-radius:10px;
}

/* NEW FIDGET STYLING */
/* posts/new.ejs FIDGET ELEMENT */
.fidget-container-new {
    text-align: center;
    border: 1px solid darkblue;
    border-radius: 20px;
    margin: 5%;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 0px 0px 2px darkblue; 
    padding-bottom: 2%;
}
/* TWO PANE NEW.EJS LAYOUT */
.row {
    box-sizing: border-box;
}
.column-60 {
    width: 60%;
    float: left;
}
.column-30 {
    width: 40%;
    float: right;
}
/* FORM BOXES */
* { /* keeps everything aligned evenly */
    box-sizing: border-box;
}
/* new post entry form */
.post-form-container {
    background-color: aqua;
    box-shadow:0 0 15px 4px rgba(0,0,0,1);
    width: 90%;
    border: 1px solid darkblue;
    border-radius: 20px;
    margin: 5%;
    box-shadow: 0px 0px 2px darkblue; 
}
/* individual NEW FIDGET text fields (content is text area) */
input {
    height: 3em;
    width: 90%;
    text-align: left;
    padding: 2%;
    
    border: 1px solid darkblue;
    border-radius: 2px;
    
    margin: 5%;
    margin-bottom: 0%;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 0px 0px 2px darkblue; 
}
/* content text field */
textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 8em;
    width: 90%;
    text-align: left;
    padding: 2%;
    border: 1px solid darkblue;
    border-radius: 2px;
    margin: 5%;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 0px 0px 2px darkblue; 
}
.submit-button-container {
    width: 90%;
    background-color: black;
    padding: 1%;
    text-align: center;
    border: 1px solid darkblue;
    border-radius: 20px;
    margin: 5%;
    margin-top: 0%;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 0px 0px 2px darkblue; 
}
.post-fidget-button {
    width: 80%;
    height: 5em;
    background-color: aqua;
    color: darkblue;
    margin-bottom: 5%;
    text-align: center;
    border: 0;
    border-radius: 20px;
    border: 1px solid darkblue;
    box-shadow: 0px 0px 2px darkblue; 
    font-family: 'Khula', sans-serif;
    font-size: large;
}
.post-fidget-button:hover {
    background-color: darkblue;
    cursor: pointer;
    color: white;
    width: 80%;
    text-align: center;
    border: 0;
    border-radius: 20px;
    box-shadow: 0px 0px 2px darkblue; 
}
#cancel-button {
    width: 60%;
    height: 3em;
    text-align: center;
    background-color: orange;
    border-radius: 10px;
    border: 1px solid darkblue;
    box-shadow: 0px 0px 2px darkblue; 
}
#cancel-button:hover {
    width: 60%;
    height: 3em;
    text-align: center;
    background-color: red;
    border-radius: 10px;
    border: 1px solid darkblue;
    box-shadow: 0px 0px 2px darkblue; 
}
#cancel-link {
    text-decoration: none;
    font-family: 'Khula', sans-serif;
    text-align: center;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1vw; /* had to shrink clickable space for nav */
    padding-bottom: 1vw; /* had to shrink clickable space for nav */
}
#cancel-link:visited {
    text-decoration: none;
    font-family: 'Khula', sans-serif;
    color: darkblue;
}
#cancel-link:hover {
    text-decoration: underline;
    color: white;
}



/* NAVBAR CONTAINER */
.nav-bar { /* contains three nav buttons */
    display: flex;
    justify-content: space-between;
}

/* NAV "BUTTONS" */
.link-buffer {
    background-color: aqua;
    color: darkblue;
    padding: 1em;
    width: 30%;
    text-align: center;
    border: 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px darkblue; 
}
/* Styling the Link in the "button" */
.link-buffer a:active {
    color: white;
}
.link-buffer a {
    color: darkblue;
    text-decoration: none;
    font-family: 'Khula', sans-serif;
    display: inline-block;     
    position: relative;    
    z-index: 1;
    padding-left: 3vw; /* had to stretch clickable space for nav left, almost matches button */
    padding-right: 3vw; /* had to stretch clickable space for nav right, almost matches button */
    padding-top: 2vw; /* had to shrink clickable space for nav */
    padding-bottom: 2vw; /* had to shrink clickable space for nav */
    margin: -20vh; /* shrink buttons vertically, but they grow on extremely small ports... */
}
.link-buffer a:hover {
    text-decoration: underline;
}
/* Main title box */
.title-box { /* only includes fidget title and subtitle */
    text-align: center;
    background-color: aliceblue;
    border: 1px solid aqua;
    border-radius: 2px; /* to allow polka dot effect underneath */
    box-shadow: 0px 0px 2px darkblue; 
}


/* TO TOP BUTTON (at bottom of posts/index.ejs */
.top-button {
    background-color: aqua;
    color: darkblue;
    padding: 1em;
    width: 30%;
    text-align: center;
    border: 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px darkblue; 
}
.top-button:hover {
    background-color: darkblue;
    color: white;
    padding: 1em;
    width: 30%;
    text-align: center;
    border: 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px darkblue; 
}


/* FOOTER */
/* always at bottom */
footer {
    position: fixed;
    bottom: 0;
    border-radius: 2px;
    width: 90%; /* whole app only takes up 90% of screen, 5% off each side */
    text-align: center;
    color: darkblue;
    background: linear-gradient(135deg, white 30%, cyan, white 70%);
    box-shadow: 0px 0px 2px darkblue; 
    font-family: Arial, Helvetica, sans-serif;
}


/* ABOUT FIDGET */
.about-fidget {
    text-align: center;
}
.about-fidget, p {
    text-align: center;
}




/* COMMENTS STYLING */
/* container for entire page on posts/comments.ejs */
/* (contains original-post, sub-comments-container) */
#master-comments-container {
    border: 1px solid aqua;
    border-radius: 20px;
    margin: 10%;
    background-color: aqua;
    box-shadow: 0px 0px 2px darkblue; 
}

/* Original post section of comments.ejs */
#original-post {
    border: 1px solid darkblue;
    border-radius: 20px;
    margin: 5%;
    background-color: aliceblue;
    box-shadow: 0px 0px 2px darkblue; 
}
/* sub-container for comments, ONLY, below original post */
#sub-comments-container {
    border: 1px solid darkblue;
    border-radius: 20px;
    margin: 5%;
    background-color: aliceblue;
    box-shadow: 0px 0px 2px darkblue; 
}
/* Individual subfidget wrapper */
#sub-fidgets {
    border: 1px solid darkblue;
    border-radius: 20px;
    margin: 3%;
    padding: 3%;
    background-color: aliceblue;

    box-shadow: inset 0px 0px 2px darkblue; 
}

/* CUSTOM SCROLLBAR: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
::-webkit-scrollbar {
    width: 10px;
    box-shadow: 0px 0px 1px lightblue; 
}
  /* Track background (whitespace)*/
::-webkit-scrollbar-track {
    box-shadow: inset 1px 1px 7px lightblue; 
    border-radius: 0px;
}
  /* Handle */
::-webkit-scrollbar-thumb {
    background: aqua; 
    box-shadow: inset 0 0 5px darkblue; 
    border-radius: 1px;
}
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkblue; 
    cursor: grabbing;
}