<%- include('../partials/header.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->



<body>
    <table>
        <thead>
            <h3>Posts</h3>
        </thead>
        <tbody>
            <% posts.reverse().forEach(function(post){ %>
              <tr>
                <td><%= post.title %>
                    <a href='/posts/<%= post._id %>'>See More!</a>
                </td>
              </tr>
              
            <% }) %>
        </tbody>
    </table>
    <p><img src="https://www.freeiconspng.com/uploads/high-resolution-fidget-spinner-black-image-17.png" width="50" alt="High Resolution Fidget Spinner Black Image"  class="fidget-spinner" /></p>
</body>

<%- include('../partials/footer.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->