<%- include('../partials/header.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->

<title>Main</title>
</head>

<a href="/">TEST: Back to splash (index)</a>

<body>
    <h1>This is the posts page! Should show all posts on Fidget.</h1>
    <p>Put some EJS in here, soon.</p>

    <a href="new">TEST: new.ejs</a>
</body>


<%- include('../partials/footer.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->